<%- include('partials/header') %>

  <main class="container mt-5 pt-5">

    <%- include('homepage/about') %>


      <!-- ================= AUTH ================= -->
      <%- include('homepage/auth') %>


        <!-- ================= COURSES ================= -->
        <%- include('homepage/courses') %>



          <!-- ================= LESSONS ================= -->
          <%- include('homepage/lessons') %>


            <!-- ================= PROGRESS ================= -->
            <%- include('homepage/progress') %>


              <!-- ================= ENROLLMENT ================= -->
              <%- include('homepage/enrollment') %>


  </div>

  <%- include('partials/footer') %>